/* header */
* {
    font-family: Arial;
}

body {
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    background-color: rgb(140, 46, 194);
    border-bottom: solid 3px #c7c7c7;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    margin: auto;
}

.header .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBar {
    display: flex;
    list-style: none;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 46, 194);
}

.footer h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 46, 194);
}

h1{
    border: solid black 2px;
    border-radius: 6px;
    background-color: whitesmoke;
    opacity: 0.9;
}

h3{
    border: solid black 2px;
    border-radius: 6px;
    background-color: whitesmoke;
    opacity: 0.9;
}